* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  color: black;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 100%;
  overflow-y: hidden;
}

.flex-div {
  height: 100vh;
  width: 60%;
  border: 2px solid black;
  padding-top: 4rem;
  margin-inline: auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30rem;
  padding-top: 10rem;
}

.border {
  padding-inline: 15rem;
  border: 3px solid yellow;
  border-bottom: none;
  height: 140rem;
  border-radius: 15px;
}

.left-div {
  border: 2px solid black;
  width: 35rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.left-div > div {
  border: 2px solid black;
  /* width: 40rem; */
  height: 20rem;
}

.h2-2 {
  font-size: 7rem;
  font-family: "poetsen One", sans-serif;
  color: yellow;
  width: 32rem;
  height: 20rem;
  border: 2px solid black;
}

.right-div {
  border: 2px solid black;
  width: 40rem;
  height: 40rem;
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.right-div > div {
  width: 25rem;
  height: 15rem;
  border: 2px solid black;
}

.title {
  font-family: "Reddit Mono", monospace;
  padding-inline: 8rem;
}

.date {
  text-align: end;
  margin-bottom: 7px;
  /* height: 4rem; */
  border: 2px solid black;
}

h1 {
  font-size: 7rem;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: italic;
  /* width: 40rem; */
  /* height: 10rem; */
  color: black;
  border: 2px solid black;
}
.year {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.bottom-grid div {
  font-size: 3rem;
  font-weight: 800;
}

.bottom-grid {
  display: grid;
  /* grid-row-gap: 5px; */
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 20px);
}

.span-h2 {
  font-weight: 900;
  font-style: italic;
  font-family: "Reddit Mono", monospace;
}

.box-1 {
  grid-row: 1/3;
  grid-column: 1/3;
}

.box-2 {
  text-transform: lowercase;
  font-style: italic;
  color: yellow;
  grid-row: 1/3;
  grid-column: 3/5;
}

.box-3 {
  text-transform: lowercase;
  font-style: italic;
  grid-row: 3/5;
  grid-column: 1/3;
}

.box-4 {
  grid-row: 3/5;
  grid-column: 3/5;
}

@media only screen and (min-width: 360px) and (max-width: 670px) {
  .card {
    width: 100%;
    overflow-y: hidden;
  }

  .flex-div {
    height: 100vh;
    width: 96%;
    padding-top: 2rem;
    border: 2px solid black;
    margin-inline: auto;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: italic;
    /* width: 20rem; 
    height: 10rem; */
    color: black;
    border: 2px solid black;
  }

  .year {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 10rem;
  }

  .border {
    border: 3px solid yellow;
    border-bottom: none;
    height: 140rem;
    /* width: 25rem; */
    border-radius: 15px;
  }

  .right-div {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    border: 2px solid black;
    width: 18rem;
    height: 34rem;
    margin-top: 5rem;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border: 2px solid black;
    width: 15rem;
    height: 40rem;
  }

  .right-div > div {
    width: 17rem;
    height: 20rem;
    border: 2px solid black;
  }

  .left-div > div {
    border: 2px solid black;
    /* width: 18rem; */
    height: 20rem;
  }

  .title {
    font-family: "Reddit Mono", monospace;
    padding-inline: 1rem;
  }

  .date {
    text-align: end;
    padding-bottom: 3px;
  }

  .h2-2 {
    font-size: 3rem;
    font-family: "poetsen One", sans-serif;
    color: yellow;
    width: 13rem;
    height: 10rem;
    border: 2px solid black;
  }

  .bottom-grid {
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(4, 20px);
  }
}

@media only screen and (min-width: 671px) and (max-width: 768px) {
  .card {
    width: 100%;
    overflow-y: hidden;
  }

  .flex-div {
    height: 100vh;
    width: 96%;
    padding-inline: 4rem;
    padding-top: 2rem;
    margin-inline: auto;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 10rem;
  }

  .border {
    border: 3px solid yellow;
    border-bottom: none;
    height: 140rem;
    /* width: 25rem; */
    border-radius: 15px;
  }
  .right-div {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 15rem;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 30rem;
  }

  .title {
    font-family: "Reddit Mono", monospace;
    padding-inline: 1rem;
  }

  .date {
    text-align: end;
    padding-bottom: 3px;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: italic;
  }

  .year {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .h2-2 {
    font-size: 6rem;
    font-family: "poetsen One", sans-serif;
    color: yellow;
    width: 28rem;
  }

  .bottom-grid {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 20px);
    width: 30rem;
    height: 10rem;
    text-align: end;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .card {
    width: 100%;
    overflow-y: hidden;
  }

  .flex-div {
    height: 100vh;
    width: 90%;
    padding-top: 2rem;
    margin-inline: auto;
    padding-inline: 5rem;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding-inline: 1rem;
    padding-top: 11rem;
  }

  .border {
    border: 3px solid yellow;
    border-bottom: none;
    height: 140rem;
    /* width: 60rem; */
    border-radius: 15px;
  }
  .right-div {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    width: 40rem;
    height: 38rem;
    margin-top: 20rem;
  }

  .left-div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50rem;
    height: 58rem;
  }

  .left-div > div {
    width: 27rem;
  }

  .title {
    font-family: "Reddit Mono", monospace;
    padding-inline: 1rem;
  }

  .date {
    text-align: end;
    padding-bottom: 3px;
  }

  h1 {
    font-size: 6rem;
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: italic;
  }

  .year {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .h2-2 {
    font-size: 6rem;
    font-family: "poetsen One", sans-serif;
    color: yellow;
    width: 27rem;
  }

  .bottom-grid {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 20px);
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .flex-div {
      height: 100vh;
      width: 76%;
      padding-top: 2rem;
      margin-inline: auto;
      padding-inline: 5rem;
    }
  
    .container {
      display: flex;
      justify-content: center;
      gap: 8rem;
      padding-inline: 5rem;
      margin-top: 0rem;
    }
    
    .border {
      border: 3px solid yellow;
      border-bottom: none;
      height: 140rem;
      /* width: 60rem; */
      border-radius: 15px;
    }
    .right-div {
      display: flex;
      flex-direction: column;
      gap: 8rem;
      width: 40rem;
      height: 40rem;
    }
    
    .left-div {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      width: 40rem;
      height: 50rem;
    }
    
    .title {
      font-family: "Reddit Mono", monospace;
      padding-inline: 1rem;
    }
    
    .date {
      text-align: end;
      padding-bottom: 3px;
    }
    
    h1 {
      font-size: 6rem;
      text-align: center;
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-style: italic;
    }
    
    .year {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: italic;
    }
    
    .h2-2 {
      font-size: 5.5rem;
      font-family: "poetsen One", sans-serif;
      color: yellow;
      width: 23rem;
    }
    
    .bottom-grid {
      grid-template-columns: repeat(4, 40px);
      grid-template-rows: repeat(4, 20px);
    }
  }